@charset "UTF-8";
/*******************************************
 *******************************************
 *
 * @File: Business Pro.
 * Created by - Delowar Hossain
 *
 * This file contains the styling for the actual theme, this
 * is the file you need to edit to change the look of the
 * theme.
 *
 * This files contents are outlined below >>> */
/*****************************
 *   00 - common & reset css
 *****************************
 *
 */
 .slicknav_nav a {
    text-decoration: none;
    color: #000;
}
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.slicknav_menu .slicknav_menutxt {
    display: none;}

.slicknav_menu {
    font-size: 16px;
    background: #ffffff;
    padding: 5px;
}
.c1, body, header .header-top .right-column a, .home-area .home-content.black-content, .single-post .inner .post-meta a, .single-blog-post .tag-share p a, .single-blog-post .post-img .post-meta a, footer .widget, .about-content {
  color: #828181;
}

.c1-bg {
  background-color: #828181;
}

.c1-bo {
  border-color: #828181 !important;
}

.c2, .button-2:hover, h1, h2, h3, h4, h5, h6, header .header-top .right-column a:hover, header .header-bottom .button-column .search,
header .header-bottom .button-column .notify,
header .header-bottom .button-column .msg, .breadcrumb-area .page-title ul.breadcrumb li a, .home-area .home-content.black-content h1, .cta-area.style-1 .cta-content, .brand-slider .owl-nav > div, .single-post .inner .post-meta a:hover, .single-blog-post .tag-share p span, .single-blog-post .post-img .post-meta a:hover, footer .widget a, footer .widget h5, .single-team .inner .team-content .team-social a {
  color: #222222;
}

.c2-bg, .owl-next:hover,
.owl-prev:hover, .portfolio-slider .next-arrow:hover,
.portfolio-slider .prev-arrow:hover, .contact-info h3::after {
  background-color: #222222;
}

.c2-bo {
  border-color: #222222 !important;
}

.c3, .button-2, nav ul li a:hover,nav ul li a:focus, header .header-top .right-column a i, header .header-bottom .button-column .client-area .client-info .single-info > a:hover, .breadcrumb-area .page-title ul.breadcrumb li, .home-video .home-inner h1 span, .service-box > .inner .icon i, .cta-area.style-1 .cta-content::before, .cta-area.style-2 .cta-content .phone, .single-feature span.num, .single-post .inner .post-meta a i, .single-blog-post .tag-share p a:hover, .single-blog-post .post-img .post-meta a i, footer .widget a:hover, footer .footer-bottom a, .single-pricing .inner ul.price-body li::before, .single-portfolio-1 .inner .portfolio-content span, .error-content h1 {
  color: #ffaa06;
}

.c3-bg, .button, .button.bordered-white:hover, .owl-next,
.owl-prev, header .search-box button, .brand-slider .owl-nav > div:hover, footer .widget .footer-social a:hover, .single-team .inner .team-content .team-social a:hover, ul.step::before, ul.step li:hover::before, .single-pricing .inner .price-head h5, .single-port-list li::after, .single-port-dtls, .portfolio-slider .next-arrow,
.portfolio-slider .prev-arrow, .contact-info .single-info span {
  background-color: #ffaa06;
}

.c3-bo, .button, footer .widget form input:focus, .single-team .inner .team-content .team-social a:hover, ul.step li::before, .comment-form input:focus,
.contact-form input:focus, .comment-form textarea:focus,
.contact-form textarea:focus, .error-content .error-form input:focus, .home-form input:focus,
.home-form textarea:focus {
  border-color: #ffaa06 !important;
}

.trns, .button, .button-2, .owl-next,
.owl-prev, nav ul li a, nav ul li ul, header .header-top .right-column a, header .search-box, header .header-bottom .button-column .client-area .client-info .single-info > a, .single-post .inner .post-meta a, .single-blog-post .tag-share p a, .single-blog-post .post-img .post-meta a, footer .widget a, footer .widget .footer-social a, footer .widget form input, .single-team .inner .team-content .team-desc, .single-team .inner .team-content .team-social, .single-team .inner .team-content .team-social a, .single-portfolio-1 .inner .portfolio-img, .single-portfolio-1 .inner .portfolio-img img, .single-portfolio-1 .inner .portfolio-content, .portfolio-slider .single-slide::before, .portfolio-slider .next-arrow,
.portfolio-slider .prev-arrow, .comment-form input,
.contact-form input, .comment-form textarea:focus,
.contact-form textarea:focus, .error-content .error-form input, .home-form input,
.home-form textarea {
  -webkit-transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
  transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
}

* {
  margin: 0;
  padding: 0;
}

a:focus,
a:hover,
a:visited,
input,
input:hover,
input:focus,
input:active,
select {
  text-decoration: none;
  outline: none !important;
}

img {
  max-width: 100%;
}
.individual_scheme{text-align: left;}
.about_img {
    border-radius: 15px;
    margin-bottom:15px;
}
a,
span {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

/* preloader css */
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
}

.preloader-spin {
  height: 35px;
  width: 35px;
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #d0d0d0 #d0d0d0 #111111 #d0d0d0;
  animation: 1s linear 0s normal none infinite running spinner_preloader;
}

@keyframes spinner_preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.button {
  line-height: 43px;
  padding: 0 30px;
  border-radius: 30px;
  color: #ffffff;
  border: 1px solid;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 800;
}
@media only screen and (max-width: 991px) {
  .button {
    font-size: 10px;
    padding: 0 20px;
    line-height: 38px;
  }
}
.button i {
  margin-left: 6px;
}
.button.icon-left i {
  margin-left: 0;
  margin-right: 6px;
}
.button:focus, .button:active, .button:hover {
  background-color: #222222;
  border-color: #222222 !important;
  color: #ffffff;
}
.button.bordered {
  background-color: #fff;
  color: #222222;
}
.button.bordered-white {
  color: #fff;
  background-color: transparent;
  border-color: #fff !important;
}

.button-2 {
  line-height: 25px;
  font-weight: 800;
  font-size: 11px;
  text-transform: uppercase;
}
.button-2 i {
  margin-left: 4px;
}

.overlay {
  position: relative;
  z-index: 1;
}
.overlay::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #222222;
  z-index: -1;
  opacity: 0.4;
}

.owl-next,
.owl-prev {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 40px;
  color: #ffffff;
  transform: translateY(-50%);
  font-size: 16px;
}
@media only screen and (max-width: 991px) {
  .owl-next,
  .owl-prev {
    left: 0;
  }
}

.owl-next {
  left: auto;
  right: 40px;
}
@media only screen and (max-width: 991px) {
  .owl-next {
    right: 0;
  }
}

.sp {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .sp {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.spt {
  padding-top: 100px;
}
@media only screen and (max-width: 991px) {
  .spt {
    padding-top: 60px;
  }
}

.spb {
  padding-bottom: 100px;
}
@media only screen and (max-width: 991px) {
  .spb {
    padding-bottom: 60px;
  }
}

.about_us{text-align: left;}
.section-title {
  text-align: center;
  line-height: 26px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.section-title.mb {
  margin-bottom: 80px;
}

header.fixed-top nav > ul > li > a {
  color: #fff;
}

nav {
  text-align: center;
}
nav ul {
  margin-bottom: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li a {
  line-height: 20px;
  padding: 12.5px 15px;
  color: #222222;
  display: block;
  letter-spacing: 1.05px;
}
nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
nav ul li ul {
  position: absolute;
  top: 65px;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
  width: 260px;
  text-align: left;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}
nav ul li ul::after {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 100%;
  background-color: transparent;
  content: "";
  left: 0;
}
nav ul li ul ul {
  top: 0;
  left: 100%;
}
nav ul li ul ul ul {
  left: auto;
  right: 100%;
}
nav ul li ul ul::before {
  display: none;
}
nav ul li ul::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  left: 20px;
  top: -7.5px;
  position: absolute;
  transform: rotate(45deg);
}
nav ul li ul li {
  display: block;
}
nav ul li ul li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
nav ul li ul li a {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  br {
    display: none;
  }
}

.slicknav_menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .slicknav_menu {
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 15px;
    border-radius: 5px;
  }
}

header {
  position: relative;
}
header.fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  header.fixed-top {
    position: static;
    background-color: #000;
  }
}
header.fixed-top .header-top {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
header.fixed-top .header-top .right-column a {
  color: #fff;
}
header.fixed-top .header-top .right-column a:hover {
  color: #fff;
  opacity: 0.9;
}
header.fixed-top .header-bottom {
  background-color: transparent;
  color: #fff;
}
header .header-top {
  background-color: #f4f4f4;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  padding: 13px 0;
}
header .header-top.version-2 {
  background-color: #ffffff;
}
header .header-top p {
  margin: 0;
}
@media only screen and (max-width: 991px) {
  header .header-top .left-column {
    text-align: center;
    margin-bottom: 6px;
  }
}
header .header-top .right-column {
  text-align: right;
}
@media only screen and (max-width: 991px) {
  header .header-top .right-column {
    text-align: center;
  }
}
header .header-top .right-column a:not(:first-child) {
  margin-left: 35px;
}
header .header-top .right-column a i {
  margin-right: 15px;
}
header .search-box {
  background-color: #f9f9f9;
  height: auto;
  width: 70%;
  position: absolute;
  left: 15%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
header .search-box.active {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 991px) {
  header .search-box {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }
}
header .search-box input {
  width: 100%;
  height: 85px;
  background-color: #f9f9f9;
  border: none;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 991px) {
  header .search-box input {
    font-size: 18px;
    height: 65px;
    border-radius: 5px;
  }
}
header .search-box button,
header .search-box .search-close {
  display: none;
}
@media only screen and (max-width: 991px) {
  header .search-box button,
  header .search-box .search-close {
    display: block;
    display: inline-block;
    border: none;
    line-height: 45px;
    padding: 0 30px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
  }
}
header .search-box .search-close {
  background-color: #ea5e5e;
}
header .header-bottom {
  padding: 20px 0;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #fff;
}
header .header-bottom.version-2 {
  background-color: #f9f9f9;
  border-bottom: 1px solid #fff;
}
header .header-bottom .button-column {
  text-align: right;
}
header .header-bottom .button-column .client-area {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: top;
  position: relative;
  display: inline-block;
}
header .header-bottom .button-column .client-area img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
header .header-bottom .button-column .client-area:hover div.client-info {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.4s;
  transition-delay: 0s;
}
header .header-bottom .button-column .client-area:hover div.client-info::after {
  transition-duration: 0.1s;
  width: 100%;
}
header .header-bottom .button-column .client-area .client-info {
  transition-duration: 0.4s;
  transition-delay: 0.6s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  right: 0;
  padding: 20px;
  min-width: 270px;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 65px;
}
header .header-bottom .button-column .client-area .client-info::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #ffffff;
  top: -7px;
  right: 15px;
  transform: rotate(45deg);
}
header .header-bottom .button-column .client-area .client-info::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #24aa9b;
  bottom: 0;
  left: 0;
  z-index: 3;
  transition-duration: 0.6s;
}
header .header-bottom .button-column .client-area .client-info .single-info {
  overflow: hidden;
  position: relative;
  text-transform: initial;
  font-weight: 400;
  font-size: 13px;
}
header .header-bottom .button-column .client-area .client-info .single-info:not(:last-child) {
  border-bottom: 1px solid #eee;
}
header .header-bottom .button-column .client-area .client-info .single-info:nth-child(2) {
  padding: 11px 0;
}
header .header-bottom .button-column .client-area .client-info .single-info.bottom {
  padding-top: 7px;
}
header .header-bottom .button-column .client-area .client-info .single-info.bottom a {
  color: #ea5d5d;
  font-weight: 700;
}
header .header-bottom .button-column .client-area .client-info .single-info > a {
  display: block;
  padding: 5px 0;
  color: #999;
}
header .header-bottom .button-column .client-area .client-info .single-info .client-img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
}
header .header-bottom .button-column .client-area .client-info .single-info .client-dt {
  padding-left: 90px;
  min-height: 90px;
  padding-top: 3px;
}
header .header-bottom .button-column .client-area .client-info .single-info .client-dt > * {
  display: block;
  margin-bottom: 2px;
}
header .header-bottom .button-column .client-area .client-info .single-info .client-dt span.name {
  font-weight: 700;
  color: #222;
  font-size: 17px;
}
header .header-bottom .button-column .client-area .client-info .single-info .client-dt span.name a {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  color: #777;
  line-height: 15px;
}
header .header-bottom .button-column .search,
header .header-bottom .button-column .notify,
header .header-bottom .button-column .msg {
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  vertical-align: top;
  padding: 0 10px;
  position: relative;
}
header .header-bottom .button-column a.active {
  position: relative;
}
header .header-bottom .button-column a.active::before {
  content: "";
  position: absolute;
  background: red;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  right: 7px;
  top: 6px;
  border: 2px solid #fff;
}
header .header-bottom .logo-column {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .header-bottom .menu-column {
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    margin-top: 20px;
  }
}

.breadcrumb-area {
  background-color: #f4f4f4;
  padding: 75px 0;
}
.breadcrumb-area .page-title {
  text-align: center;
}
.breadcrumb-area .page-title h2 {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
}
.breadcrumb-area .page-title ul.breadcrumb {
  margin: 0;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-area .owl-nav {
    display: none;
  }
}

.home-area .home-content {
  text-align: center;
  height: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  font-size: 20px;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .home-area .home-content {
    font-size: 16px;
    height: 435px;
  }
}
.home-area .home-content h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .home-area .home-content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-area .home-content h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
  }
  .home-area .home-content h1 br {
    display: none;
  }
}
.home-area .home-content .home-buttons {
  margin-top: 35px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-area .home-content .home-buttons {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-area .home-content .home-buttons {
    margin-top: 15px;
  }
}
.home-area .home-content .home-buttons a {
  margin: 5px 3px;
}
.home-area .home-content .inner-content {
  max-width: 750px;
  margin: 30px auto 0;
  font-weight: 400;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  .home-area .home-content .inner-content {
    line-height: 26px;
    padding: 0 35px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-area .home-content .inner-content {
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    margin-top: 15px;
  }
}
.home-area .home-content.black-content {
  text-align: left;
}
.home-area .home-content.black-content .inner-content {
  margin: 30px 0 0;
}

.home-video {
  height: 850px;
  padding-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 991px) {
  .home-video {
    height: 700px;
    padding-top: 130px;
    padding-top: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-video {
    height: 550px;
  }
}
.home-video::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
.home-video .home-inner {
  color: #fff;
  font-size: 18px;
}
.home-video .home-inner ul {
  list-style: none;
}
.home-video .home-inner ul li {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  display: inline-block;
  font-size: 13px;
}
.home-video .home-inner ul li:not(:last-child) {
  margin-right: 5px;
}
.home-video .home-inner ul li:not(:last-child)::after {
  content: "-";
  margin-left: 10px;
}
.home-video .home-inner h1 {
  font-size: 70px;
  text-transform: lowercase;
  color: #fff;
  font-weight: 800;
  margin: 10px 0 20px;
}
@media only screen and (max-width: 991px) {
  .home-video .home-inner h1 {
    font-size: 40px;
  }
}
.home-video .home-inner .button {
  margin-top: 30px;
}

.service-box {
  margin-bottom: 45px;
}
.service-box > .inner {
  box-shadow: 1px -1px 27px 3px rgba(0, 0, 0, 0.07);
  padding: 40px 30px 47.5px;
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 25px;
}
.service-box > .inner .icon {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.service-box > .inner .icon.big {
  height: 50px;
}
.service-box > .inner .icon.big img {
  max-height: 50px;
}
.service-box > .inner .icon i {
  font-size: 30px;
}
.service-box > .inner h4 {
  margin: 25px 0 15px;
  font-weight: 600;
}
.service-box > .inner .button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
}

.cta-area.style-1 {
  padding: 65px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}
.cta-area.style-1::before {
  background-color: #fff;
  opacity: 0.7;
}
.cta-area.style-1 .cta-content {
  font-size: 17px;
  font-weight: 400;
  padding-left: 30px;
  position: relative;
  line-height: 30px;
}
.cta-area.style-1 .cta-content::before {
  content: "“";
  font-size: 70px;
  position: absolute;
  left: -10px;
  top: 10px;
  line-height: 28px;
  verticle-align: top;
}

.cta-area.style-2 {
  background-color: #f4f4f4;
  padding: 65px 0;
}
.cta-area.style-2 .cta-content {
  text-align: center;
}
.cta-area.style-2 .cta-content h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  margin: 0 0 15px;
}
.cta-area.style-2 .cta-content .phone {
  font-size: 32px;
  font-weight: 800;
}
.cta-area.style-2 .cta-content .buttons {
  margin-top: 20px;
}
.cta-area.style-2 .cta-content .buttons a {
  margin: 0 5px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .cta-area.style-2 .cta-content .buttons a {
    margin: 5px;
  }
}

.cta-area.style-3 {
  background-color: #f4f4f4;
  padding: 35px 0;
}
.cta-area.style-3 .cta-content {
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .cta-area.style-3 .cta-content {
    text-align: center;
  }
}
.cta-area.style-3 .cta-content h3 {
  float: left;
  margin: 0;
  line-height: 25px;
  padding: 10px 0;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (max-width: 991px) {
  .cta-area.style-3 .cta-content h3 {
    display: block;
    text-align: center;
    float: none;
  }
}
.cta-area.style-3 .cta-content .button {
  float: right;
}
@media only screen and (max-width: 991px) {
  .cta-area.style-3 .cta-content .button {
    display: inline-block;
    float: none;
    margin-top: 10px;
  }
}

.single-feature {
  position: relative;
  padding-left: 70px;
}
.single-feature:not(:last-child) {
  margin-bottom: 30px;
}
.single-feature span.num {
  position: absolute;
  left: 0;
  top: -6px;
  font-size: 25px;
  font-weight: 800;
}
.single-feature h4 {
  margin: 0 0 20px;
}

.feature-image {
  min-height: 500px;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .feature-image {
    margin-top: 40px;
  }
}
.feature-image .feature-small-img {
  border-radius: 10px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
}
.feature-image .feature-big-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.testimonial-slider .owl-prev {
  left: -35px;
  opacity: 0;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 991px) {
  .testimonial-slider .owl-prev {
    left: -10px;
  }
}
.testimonial-slider .owl-next {
  right: -35px;
  opacity: 0;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 991px) {
  .testimonial-slider .owl-next {
    right: -10px;
  }
}
.testimonial-slider:hover .owl-prev {
  left: -60px;
  opacity: 1;
  transition-delay: 0s;
}
@media only screen and (max-width: 991px) {
  .testimonial-slider:hover .owl-prev {
    left: -10px;
  }
}
.testimonial-slider:hover .owl-next {
  right: -60px;
  opacity: 1;
  transition-delay: 0s;
}
@media only screen and (max-width: 991px) {
  .testimonial-slider:hover .owl-next {
    right: -10px;
  }
}
.testimonial-slider .single-slide {
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  font-style: italic;
  font-weight: 300;
}
@media only screen and (max-width: 991px) {
  .testimonial-slider .single-slide {
    padding: 0 30px;
  }
}
.testimonial-slider .single-slide img {
  width: auto;
}
.testimonial-slider .single-slide .image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 15px;
}
.testimonial-slider .single-slide h5 {
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  margin: 15px 0 5px;
}

.single-testimonial {
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  font-style: italic;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.single-testimonial img {
  width: auto;
}
.single-testimonial .image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 15px;
}
.single-testimonial h5 {
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  margin: 15px 0 5px;
}

.scheme-area{background-color: #f3f3f3;}
.corporate-area{background-color: #d2e4fa;}
.brand-area {
  padding: 55px 0;
  background-color: #f4f4f4;
}

.brand-slider {
  padding: 0 20px;
}
.brand-slider .owl-nav > div {
  border-radius: 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: #ddd;
}
.brand-slider .owl-nav > div:hover {
  color: #fff;
}
.brand-slider .owl-nav > div.owl-next {
  right: 0;
}
.brand-slider .owl-nav > div.owl-prev {
  left: 0;
}
.brand-slider .single-slide {
  display: block;
}

.single-post {
  margin: 15px 0;
}
.single-post .inner {
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.single-post .inner .post-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}
.single-post .inner .post-meta {
  padding: 13px 25px;
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #eeeeee;
  line-height: 24px;
}
.single-post .inner .post-meta .left {
  float: left;
}
.single-post .inner .post-meta .right {
  float: right;
}
.single-post .inner .post-meta a:not(:first-child) {
  margin-left: 15px;
}
.single-post .inner .post-meta a i {
  margin-right: 10px;
}
.single-post .inner .content-inner {
  padding: 0 25px 25px;
}
.single-post .inner .content-inner h4 {
  line-height: 25px;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}

.single-blog-post .tag-share {
  margin-top: 20px;
  text-align: center;
}
.single-blog-post .tag-share p {
  margin-bottom: 5px;
  display: inline-block;
}
.single-blog-post .tag-share p:not(:last-child) {
  margin-right: 15px;
}
.single-blog-post .tag-share p span {
  font-weight: 400;
  margin-right: 5px;
}
.single-blog-post .tag-share p a:not(:last-child) {
  margin-right: 5px;
}
.single-blog-post .tag-share p a:not(:last-child)::after {
  content: ",";
}
.single-blog-post .post-content h2 {
  font-size: 28px;
  margin: 0 0 30px;
}
.single-blog-post .post-img {
  margin-bottom: 30px;
}
.single-blog-post .post-img img {
  width: 100%;
}
.single-blog-post .post-img .post-meta {
  padding: 13px 25px;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #eeeeee;
  border-top-color: #ffffff;
  line-height: 24px;
}
.single-blog-post .post-img .post-meta .left {
  float: left;
}
.single-blog-post .post-img .post-meta .right {
  float: right;
}
.single-blog-post .post-img .post-meta a:not(:first-child) {
  margin-left: 15px;
}
.single-blog-post .post-img .post-meta a i {
  margin-right: 10px;
}


footer {
  border-top: 1px solid #eee;
}
footer .widget {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 30px;
}
footer .widget a {
  margin-bottom: 2px;
}
footer .widget ul {
  list-style: none;
}
footer .widget .logo {
  margin-bottom: 20px;
}
footer .widget h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 0 35px;
}
footer .widget .footer-social {
  margin-top: 15px;
}
footer .widget .footer-social a {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  margin-right: 4px;
}
footer .widget .footer-social a:hover {
  color: #fff;
}
footer .widget form {
  margin-top: 25px;
}
footer .widget form input {
  height: 50px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
  text-indent: 20px;
}
footer .footer-bottom {
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  text-align: center;
}
footer .footer-bottom p:last-child {
  margin-bottom: 0;
  line-height: 26px;
  padding: 17px 0;
}
footer .footer-bottom a {
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-img {
    max-width: 400px;
    margin-left: 50px !important;
  }
}
.about-img img {
  border-radius: 10px;
  width: 100%;
}

.about-content {
  font-size: 14px;
  line-height: 27px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .about-content {
    margin: 15px !important;
  }
}
.about-content h2 {
  font-size: 28px;
  margin: 0 0 30px;
}

.single-team {
  padding-top: 90px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.single-team .inner {
  text-align: center;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);
  padding: 25px 20px;
  border-radius: 10px;
  position: relative;
  padding-top: 110px;
}
.single-team .inner .team-img {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
  width: 100%;
  left: 0;
}
.single-team .inner .team-img img {
  border-radius: 10px;
}
.single-team .inner:hover .team-content .team-social {
  opacity: 1;
  transform: translateY(0);
}
.single-team .inner:hover .team-content .team-desc {
  opacity: 0;
}
.single-team .inner .team-content {
  position: relative;
}
.single-team .inner .team-content .team-desc h4 {
  font-size: 17px;
  margin: 0 0 5px;
}
.single-team .inner .team-content .team-social {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  transform: translateY(100%);
  opacity: 0;
}
.single-team .inner .team-content .team-social a {
  height: 35px;
  width: 35px;
  text-align: left;
  line-height: 35px;
  border: 1px solid #e2e2e2;
  text-align: center;
  border-radius: 50%;
  margin: 3px 2px 0;
}
.single-team .inner .team-content .team-social a:hover {
  color: #fff;
}

ul.step {
  margin: 0;
  padding: 30px 0 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  ul.step {
    padding-top: 0;
  }
}
ul.step::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 5px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  ul.step::before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 5px;
  }
}
ul.step li {
  display: inline-block;
  width: 20%;
  float: left;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  ul.step li {
    width: 100%;
    float: none;
    display: block;
    text-align: left;
    padding-left: 20px;
  }
}
ul.step li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #fff;
  top: -30px;
  border: 2px solid;
  border-radius: 50%;
  left: 50%;
  margin-left: -5px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  ul.step li::before {
    top: 7.5px;
    left: 5px;
  }
}

.single-pricing {
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.single-pricing.style-2 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0 15px;
}
.single-pricing .inner {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
}
.single-pricing .inner.active {
  transform: scale(1.1);
}
.single-pricing .inner .price-head h1 {
  margin: 0 0 30px;
  font-size: 43px;
  font-weight: 600;
}
.single-pricing .inner .price-head h1 span {
  font-size: 12px;
  font-weight: 300;
  margin-left: -5px;
}
.single-pricing .inner .price-head h5 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  padding: 15px 0;
  color: #fff;
  margin: 0 -20px;
}
.single-pricing .inner ul.price-body {
  list-style: none;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  padding: 45px 0;
  margin: 0;
}
.single-pricing .inner ul.price-body li:not(:last-child) {
  margin-bottom: 20px;
}
.single-pricing .inner ul.price-body li {
  position: relative;
  padding-left: 30px;
}
.single-pricing .inner ul.price-body li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  font-family: fontawesome;
}
.single-pricing .inner ul.price-body li.false::before {
  content: "";
  color: #ff1111;
}

.single-portfolio-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.single-portfolio-1 .inner {
  position: relative;
  text-align: center;
}
.single-portfolio-1 .inner .portfolio-img {
  overflow: hidden;
}
.single-portfolio-1 .inner .portfolio-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.single-portfolio-1 .inner .portfolio-content h4 {
  color: #fff;
}
.single-portfolio-1 .inner .portfolio-content span {
  font-weight: 300;
}
.single-portfolio-1 .inner:hover .portfolio-img {
  filter: blur(3px);
}
.single-portfolio-1 .inner:hover .portfolio-img img {
  transform: scale(1.2);
}
.single-portfolio-1 .inner:hover .portfolio-content {
  opacity: 1;
}

.single-port-content {
  font-size: 14px;
  line-height: 27px;
}
.single-port-content h2 {
  font-size: 28px;
  margin: 0 0 35px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .single-port-content {
    margin: 40px 0 0 !important;
  }
}

.single-port-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 27px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .single-port-list {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.single-port-list li {
  position: relative;
  padding-left: 50px;
}
.single-port-list li:not(:last-child) {
  margin-bottom: 20px;
}
.single-port-list li::after {
  content: "";
  font-family: fontawesome;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 7px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 50%;
}

.single-port-dtls {
  text-align: center;
  padding: 45px;
  color: #fff;
  text-align: center;
}
.single-port-dtls h4 {
  line-height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 0 35px;
  font-size: 17px;
}
.single-port-dtls ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}
.single-port-dtls ul li span {
  min-width: 70px;
  font-weight: 500;
}

.portfolio-slider .slick-list {
  border-radius: 10px;
}
.portfolio-slider .single-slide {
  margin: 0 15px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .portfolio-slider .single-slide {
    width: 450px;
  }
}
.portfolio-slider .single-slide::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #000;
  z-index: 1;
  opacity: 0.65;
}
.portfolio-slider .single-slide.slick-current::before {
  opacity: 0;
}
.portfolio-slider .next-arrow,
.portfolio-slider .prev-arrow {
  height: 45px;
  width: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-slider .next-arrow,
  .portfolio-slider .prev-arrow {
    left: 0;
  }
}
.portfolio-slider .next-arrow {
  left: auto;
  right: 100px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-slider .next-arrow {
    right: 0;
  }
}

.post-comment {
  margin-top: 50px;
}
.post-comment:not(:first-child) {
  padding-top: 50px;
  border-top: 1px solid #e3e3e3;
}
.post-comment h2 {
  margin: 0 0 50px;
}
.post-comment ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-comment ul li:not(:last-child) {
  margin-bottom: 50px;
}
.post-comment ul li {
  position: relative;
  padding-left: 150px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .post-comment ul li {
    padding-left: 0;
  }
}
.post-comment ul li .comment-img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .post-comment ul li .comment-img {
    position: static;
    margin-bottom: 25px;
  }
}

.comment-form input,
.contact-form input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e3e3e3;
  text-indent: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.comment-form input:focus,
.contact-form input:focus {
  outline: none;
}
.comment-form textarea,
.contact-form textarea {
  display: block;
  width: 100%;
  height: 220px;
  border: 1px solid #e3e3e3;
  padding-top: 15px;
  text-indent: 25px;
  margin-bottom: 20px;
  border-radius: 30px;
  resize: none;
}
.comment-form textarea:focus,
.contact-form textarea:focus {
  outline: none;
}

#googleMap {
  background-color: #eee;
  height: 380px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  #googleMap {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .contact-info {
    padding: 0 20px !important;
  }
  .contact-info br {
    display: block;
  }
}
.contact-info h3 {
  font-weight: 600;
  margin: 0 0 70px;
  line-height: 24px;
  position: relative;
}
.contact-info h3::after {
  height: 4px;
  width: 50px;
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: -35px;
}
.contact-info .single-info {
  padding-left: 100px;
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.contact-info .single-info:not(:last-child) {
  margin-bottom: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .contact-info .single-info {
    height: auto;
    padding-left: 0;
  }
}
.contact-info .single-info span {
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 23px;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .contact-info .single-info span {
    position: static;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}
.contact-info .single-info a,
.contact-info .single-info p {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
}

.single-faq {
  background-color: #eee;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
}
.single-faq h4 {
  margin: 0 0 15px;
  line-height: 1.5em;
}

.error-content {
  text-align: center;
}
.error-content h1 {
  font-size: 135px;
  font-weight: 800;
  margin: 0 0 30px;
  line-height: 100px;
}
.error-content .error-form {
  width: 550px;
  position: relative;
  margin: 30px auto;
}
@media only screen and (max-width: 991px) {
  .error-content .error-form {
    width: 100%;
    max-width: 450px;
  }
}
.error-content .error-form input {
  width: 100%;
  display: block;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
  text-indent: 30px;
}
.error-content .error-form button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 48px;
}

.home-form-area {
  background-color: #f7f7f7;
}

.hero-men {
  margin-top: 43px;
}
@media only screen and (max-width: 991px) {
  .hero-men {
    display: none;
  }
}

.home-form {
  width: 400px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 72px auto;
  background-color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home-form {
    width: 100%;
    padding: 30px;
  }
}
.home-form h3 {
  font-size: 26px;
  margin: 0 0 60px;
  text-align: left;
  position: relative;
}
.home-form h3::before {
  content: "";
  height: 1px;
  right: -40px;
  background-color: #eee;
  position: absolute;
  left: -40px;
  bottom: -30px;
}
.home-form input,
.home-form textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 30px;
  margin-bottom: 20px;
  text-indent: 25px;
}
.home-form input:focus,
.home-form textarea:focus {
  outline: none;
}
.home-form textarea {
  height: 120px;
  padding-top: 12px;
  border-radius: 20px;
  resize: none;
}

/*# sourceMappingURL=main.css.map */
